/*
testing if the css file was properly linked:

body {
	background: blue;
}
*/

body {
	background-image: url("Ice Cream Background.jpg");
}

#icecreamform {
	border: 1px solid black;
	padding: 10px;
	display: inline-block;
	margin: 10px;
	vertical-align: bottom;
}

#icecreammenu {
	display: inline-block;
	margin-right: 10px;
	vertical-align: bottom;
}

.topic {
	text-align: center;
}

p {
	font-family: Arial;
}

.head {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	width: 100%;
	height: 50px;
	background-color: gray;
	vertical-align: middle;
	text-align: center;
}

.head nav {
	margin-top: 18px;
}

main {
	padding-top: 50px;
	width: 100%
}

a:visited {
	color: red;
}

hr {
	margin-top: 40px;
	margin-bottom: 20px;
}

h1 {
	font-style: italic;
}

@media screen and (max-width: 300px) {
	li {
		font-size: 0.8em;
	}
	p {
		font-size: 0.8em;
	}
}

/*
Padding and border added to at least one element
Margin added to at least one element
At least one centered element (a footer message can be nice for this)
A background image on at least one element
A different font on at least one element
A few elements styled using a class
A different color for visited links
An element styled with an ID
Add at least one media query to improve the responsiveness of your page.
*/